.movie-title{
    color: white;
    transform: translateY(100%);
    padding-left: 3%;
}
.movie-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3%;
    justify-content: center;
    overflow: scroll;
}

.movie-image{
    border-radius: 4px;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
    transform: translateX(-50%)
}