.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 1rem;
    color: #fff;
}

.navbar-logo {
    margin-right: 10px;


    max-width: 100px;
}

.navbar-search {
    flex: 1; 
    padding: 5px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar_avatar {

    right: 20px;
    width: 30px;
    object-fit: contain;
    margin-left: 400px;
}
