.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    align-items: center;
    padding: 20px;
    width: 100%;
    display: flex;
    background-color: black;
    /* color: #fff;*/
    justify-content: space-between;
    /* Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navbar_black {
    background-color: black;
    transition: ease-in-out 800ms;
}

.navbar-logo {
    margin-right: 70px;
    margin-left: 25px;
    padding: 8px;
    max-width: 100px;
}

.navbar-search {
    flex: 1; 
    padding: 5px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar_avatar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 35px;
    object-fit: contain;

}
