.series-container {
  display: flex;
  flex-wrap: wrap;
}
.series-container::-webkit-scrollbar {
  display: none;
}
.series-images {
  border-radius: 4px;
  max-height: 400px;
  margin: auto;
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  object-fit: cover;
  transition: transform 450ms;
  transform: translateY(5%)
}
.series-images:hover {
  cursor: pointer;
  transform: scale(1.1);
}